data/*.sql
data/*.sql.gz
!data/tableExtension.sql
config/portal.properties
config/client-tailored-saml-idp-metadata.xml
config/certs/*
!config/certs/.gitkeep
*.jks
**/.DS_Store
.env
!tools/cbpManager/shinyproxy/application.yml
tools/cbpManager/shinyproxy-logs/*
study/**
!study/patient_example/**
!study/testpatient/**
dump_hapi.sql

reports/**
!reports/Patient_example/Patient_example/Patient_example_TD.pdf

tools/MtbImporter/processed/**
!tools/MtbImporter/processed/.gitkeep
tools/MtbImporter/mapper/**
!tools/MtbImporter/mapper/.gitkeep
tools/MtbImporter/settings.yaml
