data/*.sql
data/*.sql.gz
!data/tableExtension.sql
config/portal.properties
config/client-tailored-saml-idp-metadata.xml
*.jks
**/.DS_Store
.env
!tools/cbpManager/shinyproxy/application.yml
tools/cbpManager/shinyproxy-logs/*
study/**
!study/patient_example/**
!study/testpatient/**